.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

a {
	text-decoration: none;
	font-size: 14px;
	color: black;
}

.fa-user,
.fa-lock,
.fa-phone,
.fa-sms {
	font-size: 18px;
	margin-right: 10px;
}

/* 设置宽度和水平居中 */
.w {
	width: 960px;
	margin: 0 auto;
}

body {
	-webkit-font-smoothing: antialiased;
}

p#error {
	display: none;
	color: red;
	font-size: 14px;
	position: absolute;
	right: 0;
}