/* 移动端内容 */
.m-main {
	display: none;
	width: 380px;
	height: 460px;
	margin: 60px auto;
}

/* 移动端-logo */
.m-main .m-logo {
	width: 320px;
	height: 70px;
	margin: 0 auto;
	background-image: url(../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

/* 移动端内容容器 */
.m-main .m-main-container {
	height: 390px;
	padding: 40px 20px;
}

/* 移动端输入块 */
.m-main .m-main-container .m-input-text {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	border-radius: 10px;
	padding-left: 10px;
	display: flex;
	border: 1px solid #ccc;
	background-color: #fff;
}

/* 移动端输入块-i */
.m-main .m-main-container .m-input-text i {
	font-size: 30px;
	margin-top: 10px;
}

/* 移动端输入框 */
.m-main .m-main-container .m-input-text input {
	width: 280px;
	height: 48px;
	outline: none;
	border: none;
}

/* 移动端登录按钮 */
.m-main .m-main-container .m-login-button {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: none;
	outline: none;
	background-color: #418a46;
	font-size: 20px;
	color: #fff;
}

/* 移动端其他内容 */
.m-main .m-main-container .m-other {
	text-align: center;
	color: #9e9e9e;
}

/* 移动端其他内容-a */
.m-main .m-main-container .m-other a {
	color: #9e9e9e;
	padding: 0 10px;
}

/* 移动端其他内容-a移入事件 */
.m-main .m-main-container .m-other a:hover {
	color: red;
}