/* 头部容器 */
.header-container {
	height: 80px;
	display: flex;
	align-items: center;
	position: relative;
}

/* logo-a */
.header-container .logo a {
	display: block;
	width: 280px;
}

/* logo-img */
.header-container .logo img {
	display: block;
}

/* logo右侧分割线 */
.header-container .line {
	width: 1px;
	height: 50px;
	border: 1px solid #999;
	margin: auto 20px;
}

/* logo右侧标题 */
.header-container .title {
	font-size: 25px;
}

/* 动态日期 */
.header-container .date {
	position: absolute;
	right: 0;
}

/* 内容 */
.main {
	width: 100%;
	height: 500px;
	position: relative;
}

/* 轮播图-li */
.main .slideshow li {
	position: absolute;
	left: 0;
	top: 0;
}

/* 轮播图-img */
.main .slideshow img {
	display: block;
	width: 100%;
	height: 500px;
	/* 保证图片不失真 */
	object-fit: cover;
}

/* 内容容器 */
.main-container {
	height: 500px;
	position: relative;
	overflow: hidden;
}

/* 登录窗口 */
.main-container .login-box {
	position: absolute;
	top: 100px;
	right: 0px;
	width: 350px;
	height: 300px;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	opacity: 0.98;
}

/* 登录选项卡 */
.login-box .login-tab {
	text-align: center;
}

/* 登录选项卡-ul */
.login-box .login-tab ul {
	display: flex;
}

/* 登录选项卡-ul-li */
.login-box .login-tab ul li {
	flex-grow: 1;
}

/* 登录选项卡-ul-li-a */
.login-box .login-tab ul li a {
	display: block;
	padding: 15px 0;
	width: 100%;
}

/* 登录选项卡-最后一个li */
.login-box .login-tab ul li:last-child {
    border-left: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	background-color: #f5f6f7;
	color: black;
}

/* 登录选项卡-a */
.login-box .login-tab a.username-login {
	font-size: 16px;
	color: #418a46;
}

/* 登录选项卡-a */
.login-box .login-tab a.sms-login {
	font-size: 16px;
	color: black;
}

/* 登录面板 */
.login-box .login-panel {
	padding: 20px 20px 10px 20px;
	height: 237px;
	display: none;
}

/*-------------------用户名密码登录面板开始----------------------*/
/* 默认用户名密码登录面板显示 */
.login-box .username-password-box {
	display: block;
}

/* 输入块 */
.login-box .username-password-box .input-text {
	width: 100%;
	height: 42px;
	line-height: 42px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	align-items: center;
	display: flex;
	position: relative;
}

/* 输入块-input设置 */
.login-box .username-password-box input {
	display: inline-block;
	width: 250px;
	height: 38px;
	border: none;
	outline: none;
}

/* 登录按钮设置 */
.login-box .username-password-box .login-button {
	width: 100%;
	margin: 10px 0;
	border-radius: 10px;
	background-color: #418a46;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
}

/* 登录按钮移入事件 */
.login-box .username-password-box .login-button:hover {
	background-color: green;
}

/* 登录面板其它内容 */
.login-box .username-password-box .other {
	width: 310px;
	margin: 0 auto;
	text-align: center;
	color: #9e9e9e;
}

/* 其它内容-a */
.login-box .username-password-box .other a {
	color: #9e9e9e;
}

/* 其它内容-a移入事件 */
.login-box .username-password-box .other a:hover {
	color: red;
}
/*-------------------用户名密码登录面板结束----------------------*/


/*-------------------短信验证码登录面板开始----------------------*/
/* 手机号输入块 */
.login-box .sms-box .phone-text {
	width: 100%;
	height: 42px;
	line-height: 42px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	align-items: center;
	display: flex;
}

/* 动态码输入块 */
.login-box .sms-box .sms-text {
	width: 100%;
	height: 42px;
	line-height: 42px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	align-items: center;
	display: flex;
	position: relative;
}

/* 手机号输入块-input设置 */
.login-box .sms-box .phone-text input {
	display: inline-block;
	width: 250px;
	height: 38px;
	border: none;
	outline: none;
}

/* 动态码输入块-input设置 */
.login-box .sms-box .sms-text input {
	display: inline-block;
	width: 150px;
	height: 38px;
	border: none;
	outline: none;
}

/* 获取验证码框 */
.login-box .sms-box .get-sms {
	display: inline-block;
	position: absolute;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #e9e9e9;
}

/* 获取验证码框移入事件 */
.login-box .sms-box .get-sms:hover {
	color: red;
}

/* 登录按钮设置 */
.login-box .sms-box input.sms-login-button {
	width: 100%;
	height: 38px;
	margin: 10px 0;
	border-radius: 10px;
	background-color: #418a46;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	outline: none;
	border: none;
}

/* 登录按钮移入事件 */
.login-box .sms-box .sms-login-button:hover {
	background-color: green;
}

/* 登录面板其它内容 */
.login-box .sms-box .other {
	width: 310px;
	margin: 0 auto;
	text-align: center;
	color: #9e9e9e;
}

/* 其它内容-a */
.login-box .sms-box .other a {
	color: #9e9e9e;
}

/* 其它内容-a移入事件 */
.login-box .sms-box .other a:hover {
	color: red;
}
/*-------------------短信验证码登录面板结束----------------------*/

/* 底部 */
.footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 13px;
	text-align: center;
}







